
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: rgb(var(--foreground-rgb));
}
body,
a,
p {
  font-family: var(--font-HelveticaNeue);
} 
h1,
h2,
h3,
h4,
h5,
h6{ 
  font-family: var(--font-HelveticaNeueMedium);
}
.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 20px;
}

/* #white-background {
  background-color: white;
} */

#black-background {
  color: white; 
  position: relative;
}
.home-bg::after {
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  background-image: url(../assets/images/noisetexture.png);
  background-repeat: repeat;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 11;
  pointer-events: none; 
}
nav a {
  font-family: var(--font-HelveticaNeueMedium);
}
.button-black {
  position: relative;
  border: 2px solid transparent;
  background-color: #000000;
  background-clip: padding-box;
  border-radius: 90px;
  padding: 14px 23px;
  font-size: 20px;
  display: flex;
  width: max-content;
  justify-content: center;
  align-items: center;
  grid-gap: 10px;
}
#white-background .epoch-button a {
  background-color: #fff;
}
#white-background .epoch-button a svg g path {
  fill: #000;
}
 .button-black::before{
  content: '';
  position: absolute;
  top: -2px;
  bottom: -2px;
  left: -2px;
  right: -2px;
  background: linear-gradient(to bottom right, #19B0B1, #0951A6);
  z-index: -1;
  border-radius: 90px;
}
.before-image-border::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 2px solid rgb(255 255 255 / 10%); 
  border-radius: 32px; 
  pointer-events: none; 
  z-index: 1; 
  box-sizing: border-box; 
}
.black-background .header-bg {
  background: rgb(0 0 0 / 15%);
}
.header-bg {
  backdrop-filter: saturate(100%) blur(10px);
  -webkit-backdrop-filter: saturate(100%) blur(10px); /* For Safari and some WebKit-based browsers */
  background: rgba(0, 0, 0, 0.15); /* Same as rgb(0 0 0 / 15%) */
}
h2 {
  font-size: 38px;
  line-height: 48px;
  letter-spacing: -1px;
}
.backdrop{
  backdrop-filter: saturate(100%) blur(10px);
}
.noise-effect {
  background-image: url(../assets/images/noise.png);
}
#black-background .noise-effect {
  display: block !important;
  position: fixed;
  top: 0;
  min-height: 100%;
  width: 100%;
  background-repeat: repeat;
  z-index: 11111;
  bottom: 0;
  pointer-events: none;
} 
.home-bg{
  background-image: url(../assets/images/Homepage-bg.png);
}

:root {
  --size: clamp(10rem, 1rem + 40vmin, 30rem);
  --gap: calc(var(--size) / 14);
  --duration: 60s;
  --textduration: 150s;
  --scroll-start: 0;
  --scroll-end: calc(-100% - var(--gap));
}

.marquee {
  display: flex;
  overflow: hidden;
  mask-image: linear-gradient(
    var(--mask-direction, to right),
    hsl(0 0% 0% / 0),
    hsl(0 0% 0% / 1) 30%,
    hsl(0 0% 0% / 1) 70%,
    hsl(0 0% 0% / 0)
  );
}

.marquee__group {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: var(--gap);
  min-width: 100%;
  animation: scroll-x var(--duration) linear infinite;
}
.marquee__group__text{
  animation: scroll-x var(--textduration) linear infinite;  
}
.custom-p-0 a{
padding: 0;
}
#black-background .footer-top {
  border-radius: 32px;
  border: 2px solid var(--grad-1, #19B0B1);
  background: rgba(0, 0, 0, 0.6);
  box-shadow: 0px -40px 50px 0px rgba(0, 0, 0, 0.75);
  backdrop-filter: blur(12.5px); 
  -webkit-backdrop-filter:  blur(12.5px);
}
#black-background  .footer-middle a {
  color: #757575;
}
#black-background  .news-form p { 
  opacity: 0.45;
} 
#black-background  .custom-p-0 g circle {
  fill: transparent;
  stroke: rgb(255 255 255 / 15%);
}
#black-background  .custom-p-0 path {
  fill: #fff;
}
#black-background .input-border, #black-background .input-border  .MuiOutlinedInput-notchedOutline {
  border-color: rgb(255 255 255 / 25%) !important;
  color: #fff;
}
#black-background .submitbutton path { 
  fill: #fff;
}
#black-background  .footer-bottom {
  border-top-color: rgb(255 255 255 / 15%) !important;
}
#black-background .footer-bottom p, #black-background .footer-bottom li a {
  color: rgb(255 255 255);
}
.menu-open {
  overflow: hidden;
}
.custom-scrollbar::-webkit-scrollbar-track
{
	border-radius: 0px;
	background-color: transparent;
}

.custom-scrollbar::-webkit-scrollbar
{
	width: 0px;
	background-color: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb
{
	border-radius: 0px;
	background-color: transparent;
}
h1{
  font-size: 68px;
font-style: normal;
font-weight: 500;
line-height: 68px; 
letter-spacing: -1.36px; 
}
.before-bg::after {
  width: 94px;
  height: 49px;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.00) 3.32%, #FFF 67.94%);
  position: absolute;
  right: 20px;
  content: "";
  z-index: 1;
  top: 0;
}
.blog-card-custom{
  backdrop-filter: blur(12.5px);
  -webkit-backdrop-filter: blur(12.5px);
}
.week-blog img {
  aspect-ratio: 1/1.42;
  object-fit: cover;
}
section.banner-ingo::before {
  position: absolute;
  content: "";
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, #000 100%);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.bg-community{
  background-image: url(../assets/images/community-bg.png);
  background-position: bottom right;
  background-repeat: no-repeat;
}
.slider-dots .slick-dots li button:before{
  display: none;
}
.slider-dots .slick-dots li button, .slick-dots li {
  width: 10px !important;
  height: 10px !important;
  padding: 0;
}
.slider-dots .slick-dots li button {
  border-radius: 90px;
  opacity: 0.15;
  background: #FFF;
  padding: 0;
}
.slider-dots .slick-dots li.slick-active button, .slick-dots li.slick-active{
  opacity: 1;
  width: 22px !important;
}
.slider-dots ul.slick-dots {
  position: relative !important;
  border: 0 !important;
  bottom: 0 !important;
  margin-top: 20px;
} 
.tab-bg-before::before {
  opacity: 0.5;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.15) 0%, rgba(43, 43, 43, 0.15) 100%);
  box-shadow: 30px 45px 70px 0px rgba(17, 17, 17, 0.20);
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  border-radius: 90px;
  z-index: -1;
  left: 0;
}
.price-grid{
border-radius: 24px;
border: 1px solid rgba(255, 255, 255, 0.25);
box-shadow: 30px 45px 70px 0px rgba(17, 17, 17, 0.20);
z-index: 1;
}
.price-grid::before{
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: -1; 
  border-radius: 24px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(43, 43, 43, 0.05) 100%);
  backdrop-filter: blur(7.5px);
  -webkit-backdrop-filter: blur(7.5px);  
  }
@media (prefers-reduced-motion: reduce) {
  .marquee__group {
    animation-play-state: paused;
  }
}

.marquee--vertical {
  --mask-direction: to bottom;
}

.marquee--vertical,
.marquee--vertical .marquee__group {
  flex-direction: column;
}

.marquee--vertical .marquee__group {
  animation-name: scroll-y;
}

.marquee--reverse .marquee__group {
  animation-direction: reverse;
  animation-delay: -3s;
}
.mobile-menu{
  background-image: url(../assets/images/menu-mobile.jpg); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
body#white-background .header-bg {
  background: rgb(255 255 255 / 15%);
  border-color: rgb(25 25 25 / 10%);
}
body#white-background a.get-started {
  background: #F1F1F1;
}
.tab-content-custom .blog-card-custom img {
  aspect-ratio: 1/1.1;
  object-fit: cover;
}
.tab-content-custom .blog-card-custom {
  width: calc(100% - 0px);
}
.tab-content-custom .blog-card-custom:first-child {
  width: 100%;
}
.blog-list {
  text-align: center;
}
.tab-content-custom .blog-card-custom:nth-child(2) p,
.tab-content-custom .blog-card-custom:nth-child(3) p,
.tab-content-custom .blog-card-custom:nth-child(4)  p,
.tab-content-custom .blog-card-custom:nth-child(5)  p, 
.tab-content-custom .blog-card-custom:first-child  p{
 display: block !important;
}
.tab-content-custom .blog-card-custom p{
  display: none;
}
.week-blog:first-child {
  width: 100%;
}
.week-blog {
  width: 100%;
}
.week-blog a::after {
  position: absolute;
  content: "";
  border-radius: 32px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, #000 100%);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
body#black-background footer.footer-main {
  background-color: #000;
}
body#white-background button.menuicon svg path { 
  fill: #000;
}
body#white-background.menu-open button.menuicon svg path {
  stroke: #000;
}
.singl-bolg-page p {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 30px;
}
.singl-bolg-page h2{
margin-bottom: 30px;
}
.singl-bolg-page .blogtext-16 p{ 
  font-size: 18px;
  line-height: 26px;
}
.login-form .input-border::before, .customborder button::before {
  content: "";
  position: absolute;
  top: -1px;
  bottom: -1px;
  left: -1px;
  right: -1px;
  background: linear-gradient( rgba(255, 255, 255, 0.5), #000000
  );
  z-index: -1;
  border-radius: 6px;
}
.customborder button::before {
  border-radius: 8px;
}
.login-form .input-border input {
  width: 100%;
  color: #fff;
  background: #191919;
  padding: 11px 12px;
  font-size: 16px;
  border-radius: 6px;
}
.login-form .input-border input:focus-visible {
  box-shadow: 0px 0px 0px 4px rgba(45, 202, 255, 0.30), 0px 4px 8px 0px rgba(0, 0, 0, 0.50);
  outline: 1px solid #fff;
}
.login-form label {
  color: var(--gray, #757575);
font-size: 14px;
font-weight: 500;
line-height: 18px;
}
.input-border.relative {
  margin: 7px 0 0;
}
.hide-bg {
  background-image: none !important;
  background-size: 0 !important;
  background-position: 0 !important;
} 
.border-through:before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  bottom: 11px;
  background: #1F1F1F;
  height: 1px;
  z-index: -1;
}
.custom-checkbox label {
  position: relative;
  padding-left: 25px;
}
.custom-checkbox input {
  position: absolute;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}
.custom-checkbox label span:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  border: 1px solid #595959;
  border-radius: 2px;
}
.custom-checkbox label input:checked~ span::after {
  background: #595959;
}
.black-background {
  background-image: url(../assets/images/signupBG.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
}
/********footer-color******/
#black-background  .footer-bg ~ footer.footer-main .footer-top {
  background: #000;
  backdrop-filter: blur(0px);
  box-shadow: none;
  border: none;
}
#black-background .footer-bg ~ footer.footer-main {
  background: #fff;
  color: #000;
}
#black-background .footer-bg ~ footer.footer-main .footer-middle a {
  color: #000000;
}
#black-background .footer-bg ~ footer.footer-main .news-form p{
  opacity: 1;
} 
#black-background .footer-bg ~ footer.footer-main .input-border, 
#black-background .footer-bg ~ footer.footer-main .input-border  .MuiOutlinedInput-notchedOutline {
  border-color: rgba(0, 0, 0, 0.35) !important;
  color: #000000;
}
#black-background .footer-bg ~ footer.footer-main .submitbutton path{
  fill: #000000; 
}
#black-background .footer-bg ~ footer.footer-main .custom-p-0 path{
  fill: #000000; 
}
#black-background .footer-bg ~ footer.footer-main .footer-bottom{
  border-top-color: rgba(0, 0, 0, 0.15) !important;
}
#black-background .footer-bg ~ footer.footer-main .footer-bottom p, 
#black-background .footer-bg ~ footer.footer-main .footer-bottom li a {
  color: rgb(0 0 0 / var(--tw-text-opacity));
}
.item-gap .slick-slide {
  padding: 0 13px;
}
.slider-card-custom img {
  aspect-ratio: 1/0.8;
}
.slick-arrow-custom .slick-prev {
  background: url('../assets/images/perv-icon.svg') no-repeat center center !important;
  background-size: contain !important;
}

.slick-arrow-custom .slick-next {
  background: url('../assets//images/next-icon.svg') no-repeat center center !important;
  background-size: contain !important;
}
.slick-arrow-custom .slick-prev, .slick-arrow-custom .slick-next {
  width: 58px !important;
  height: 58px !important;
  z-index: 1;
  font-size: 0px !important;
  top: 31%;
}
.slick-arrow-custom .slick-prev:before, .slick-arrow-custom .slick-next:before {
  display: none;;
}
.slick-arrow-custom .slick-disabled {
  opacity: 0.7;
  display: none !important;
}
.slider-dots.slider-dots-bg .slick-dots li button {
  background: #000000;
}
.text-gradient {
  background: var(--grad-1, linear-gradient(135deg, #19B0B1 -6.25%, #0951A6 101.26%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.get-bg {
  background-image: url(../assets/images/Getting-started.jpg);
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
}
.border-after:after {
  position: absolute;
  content: "";
  width: 153px;
  top: 0;
  height: 100%;
  border: solid 2px #19B0B1;
  right: 58px;
  border-radius: 32px;
  pointer-events: none;
}
.last-child-css .list-child:last-child ul {
  margin: 0;
}
.plan-slider-container button.slick-arrow::before{
  display: none;
}
.plan-slider-container button.slick-arrow.slick-prev{
  background-image: url(../assets/images/slick-perv.svg);
  background-repeat: no-repeat;
  background-position: center;

}
.plan-slider-container button.slick-arrow.slick-next{
  background-image: url(../assets/images/slick-next.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.plan-slider-container ul li:first-child {
  border-top: none;
}
/**********/
@keyframes scroll-x {
  from {
    transform: translateX(var(--scroll-start));
  }
  to {
    transform: translateX(var(--scroll-end));
  }
}

@keyframes scroll-y {
  from {
    transform: translateY(var(--scroll-start));
  }
  to {
    transform: translateY(var(--scroll-end));
  }
}
@media (min-width:768px) {
  .week-blog:first-child img {
    aspect-ratio: 1/0.49;
  }
  .week-blog:first-child .absolute {
    padding: 80px !important;
    text-align: left;
  }
  .week-blog:first-child .absolute .bg-white {
    margin: initial;
}
.week-blog:first-child  h2 {
  font-size: 38px;
  max-width: 500px;
  line-height: 50px;
}
  .week-blog {
    width: calc(50% - 29px);
}
  .tab-content-custom .blog-card-custom:first-child p {
    padding-top: 20px !important;
}
  .tab-content-custom .blog-card-custom:nth-child(2),
  .tab-content-custom .blog-card-custom:nth-child(3),
  .tab-content-custom .blog-card-custom:nth-child(4),
  .tab-content-custom .blog-card-custom:nth-child(5)  {
    width: calc(50% - 18px);
  }
  .tab-content-custom .blog-card-custom:nth-child(2) img,
  .tab-content-custom .blog-card-custom:nth-child(3) img,
  .tab-content-custom .blog-card-custom:nth-child(4) img,
  .tab-content-custom .blog-card-custom:nth-child(5) img{
    aspect-ratio: 1 / 0.69;
  }
  .tab-content-custom .blog-card-custom:nth-child(2) h3,
  .tab-content-custom .blog-card-custom:nth-child(3) h3,
  .tab-content-custom .blog-card-custom:nth-child(4) h3,
  .tab-content-custom .blog-card-custom:nth-child(5) h3, 
  .tab-content-custom .blog-card-custom:first-child h3{
   font-size: 32px !important;
   line-height: 40px !important;
  }
  .tab-content-custom .blog-card-custom:nth-child(2)  .blog-list,
  .tab-content-custom .blog-card-custom:nth-child(3)  .blog-list,
  .tab-content-custom .blog-card-custom:nth-child(4)  .blog-list,
  .tab-content-custom .blog-card-custom:nth-child(5)  .blog-list, 
  .tab-content-custom .blog-card-custom:first-child  .blog-list {
    text-align: left;
}
  .tab-content-custom .blog-card-custom:first-child {
    padding: 30px 25px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
.tab-content-custom .blog-card-custom:first-child img {
  aspect-ratio: 1/0.585;
}
  #black-background .footer-main {
    background-image: url(../assets/images/footer-bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
  }
  .tab-content-custom .blog-card-custom {
    width: calc(50% - 24px);
  }
  .tab-content-custom .blog-card-custom:first-child .blog-list {
    padding-left: 30px;
    max-width: 484px;
    margin: 0 auto; 
}.last-month-blog {
  border-bottom: solid 1px rgb(0 0 0 / 10%);
}
.last-month-blog:nth-child(odd) {
  padding-right: 10px;
}
.last-month-blog:nth-child(even) {
  padding-left: 10px;
}
  }
@media (min-width:1024px) {
  .last-month-blog:nth-child(odd) {
    padding-right: 20px;
  }
  .last-month-blog:nth-child(even) {
    padding-left: 20px;
  }
  .week-blog {
    width: calc(34.333% - 29px);
}
  .tab-content-custom .blog-card-custom:first-child .blog-list {
    padding-left: 60px; 
}
  .tab-content-custom .blog-card-custom:first-child {
    padding: 60px 75px;
}
  .tab-content-custom .blog-card-custom {
    width: calc(33.333% - 24px);
}
nav a {
  color: #757575;
  font-family: var(--font-HelveticaNeueMedium);
}
}
@media (max-width:1023px) {
  h2 {
    font-size: 32px;
    line-height: 40px;
}
h1 {
  font-size: 50px;
  line-height: 50px;
}
}
@media (max-width:767px) {
  .banner-ingo h1 {
    font-size: 24px !important;
    max-width: 370px;
    line-height: 32px !important;
}
  .week-blog img {
    aspect-ratio: 1/1.15;
}
  .tab-content-custom .blog-card-custom img {
    aspect-ratio: 1/1;
  }
  .arrow-button svg {
    max-width: 36px;
    width: 100%;
    height: 36px;
}
.before-bg::after {
  width: 54px;
  height: 36px;
  right: 20px;
}
  h1 {
    font-size: 36px;
    line-height: 36px;
    letter-spacing: -.36px
  }
  .home-bg{
    background-image: url(../assets/images/homepage-mobile.png); 
  }
  .button-black {
    padding: 12px 23px;
    font-size: 16px;
}
h2 {
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -1px;
}
.br-hide br{
  display: none;;
}
.load-button {
  border-top: solid 1px rgb(0 0 0 / 10%);
  padding-top: 35px;
}
body#white-background .mobile-menu {
  background: #fff;
  background-image: none;
}
body#white-background .mobile-menu nav a {
  color: #000;
}
body#white-background .mobile-menu a.bg-menu-button {
  background: #f7f7f7;
}
body#white-background footer.footer-main a, body#white-background footer.footer-main p {
  color: #757575;
}
.singl-bolg-page h2 {
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 28px;
}
.singl-bolg-page p, .singl-bolg-page .blogtext-16 p {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 20px;
}
.singl-bolg-page h2.text-24 {
  font-size: 24px;
}
.bg-community{
  background-image: url(../assets/images/community-bg-mobile.png); 
}
.brain-icon svg {
  width: 47px;
  height: 60px;
}
.black-background {
  background-image: url(../assets/images/signupBGmobile.png);
}
.slick-arrow-custom .slick-prev, 
.slick-arrow-custom .slick-next {
  display: none !important;
}
.item-gap .slick-slide {
padding: 0 10px;
}
.get-bg {
  background-image: url(../assets/images/getting-started-mobile.jpg);
}

}

@media (max-width:640px) {
  .item-gap .slick-slide {
    padding: 0;
    }
}
 




